target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.idea/
*.iml
stats/
venv
.vagrant
**/dependency-reduced-pom.xml
**/.DS_Store
**/.ipynb_checkpoints/
**/.swagger-codegen/
bdd/index.html
bdd/inventory_server/
bdd/swagger.yml

.DS_Store
/inventory_server
/temp
/deploy-memory/terraform.tfstate
/deploy-memory/terraform.tfstate.backup
/deploy-memory/ip.txt
/deploy-memory/.terraform

\.project

\.settings/

\.vscode/

__pycache__/

core/\.classpath

deploy-rds/terraform\.tfstate

meta/\.classpath

imdg/\.classpath

jpa/\.classpath

memory/\.classpath
